@import url("https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@700&family=Poppins:wght@400;700&display=swap");

h1 {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 50px;
}

p {
	font-family: "Poppins";
	margin: 15px;
}

.vertical-text {
	font-family: "Poppins";
}

@media (min-width: 770px) {
	.vertical-text {
		writing-mode: vertical-lr;
		text-orientation: sideways;
		letter-spacing: 5px;
		font-size: 18px;
		transform: rotate(180deg);
		direction: rtl;
		font-family: "Poppins";
	}
}

@media (min-width: 768px) {
	.gap-lg-2 {
		display: flex;
	}
}

@media only screen and (max-width: 767px) {
	.daun {
		display: none;
	}
}
